body{
    font-family: 'IM Fell English SC', serif;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: antiquewhite;
}

#myCarousel 1img,2img{
    height: 800px;
    margin-top: 35px;
}